<form data-request="{{__SELF__}}::onClick" data-request-success="alert('Заявка отправлена')">
    <div class="form-group">
        <label for="owner">ФИО / Организация</label>
        <input type="text" class="form-control" name="owner" id="owner">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email">E-mail</label>
            <input type="email" name="email" class="form-control" id="email">
        </div>
        <div class="form-group col-md-6">
            <label for="phone">Телефон</label>
            <input type="phone" name="phone" class="form-control" id="phone">
        </div>
    </div>
    <div class="form-group">
        <label for="description">Описание</label>
        <textarea class="form-control" name="description" id="description" rows="4"></textarea>
    </div>
    <input type="hidden" name="status" class="form-control" id="status" value="1">
    <button id="submit_button" type="submit" class="btn btn-primary">Отправить</button>
</form>