<div data-control="toolbar">
    <a href="<?= Backend::url('egorov/newsanalysis/news/create') ?>"
        class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')) ?></a>
    <a href="<?= Backend::url('egorov/newsanalysis/news/reorder') ?>"
        class="btn btn-default oc-icon-list"><?= e(trans('backend::lang.reorder.default_title')) ?></a>
    <button class="btn btn-default oc-icon-trash-o" disabled="disabled" onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })" data-request="onDelete"
        data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
        data-trigger-action="enable" data-trigger=".control-list input[type=checkbox]" data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', true)" data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>

    <a href="<?= Backend::url('egorov/newsanalysis/news/import') ?>"
        class="btn btn-primary oc-icon-upload open-import-form">
        Импорт данных
    </a>

    <div class="btn-group">
        <a href="<?= Backend::url('egorov/newsanalysis/news/export') ?>" class="btn btn-default oc-icon-download">
            Экспорт
        </a>
    </div>

    <div class="btn-group">
        <a href="<?= Backend::url('egorov/newsanalysis/news/diagrams') ?>" class="btn btn-default">
            Диаграммы
        </a>
    </div>

    <button type="submit" class="btn btn-primary" data-request="onUpdateData"
        data-load-indicator="Обновление..">
        Обновить данные
    </button>
</div>