<div>
    <label>По рубрикам</label>
    <div class="control-chart centered wrap-legend" data-control="chart-pie" data-size="300">
        <ul>
            <?php foreach ($this->vars['countByRybrics'] as $rubric): ?>
            <li><?= $rubric[0]->rubric->name; ?><span><?=  count($rubric); ?></span></li>
            <?php endforeach ?>
        </ul>
    </div>
</div>

<div>
    <label>По новостным агентствам</label>
    <div class="control-chart centered wrap-legend" data-control="chart-pie" data-size="300">
        <ul>
            <?php foreach ($this->vars['countByMedias'] as $rubric): ?>
            <li><?= $rubric[0]->media->name; ?><span><?=  count($rubric); ?></span></li>
            <?php endforeach ?>
        </ul>
    </div>
</div>

<div class="form-buttons">
    <a class="btn btn-primary" href="<?= Backend::url('egorov/newsanalysis/news') ?>">Назад</a>
</div>