title = "main"
url = "/"
layout = "default"
is_hidden = 0

[RequestsForm]
==
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Информационное агентство</h3>
            <!-- <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
            </nav> -->
        </div>
    </header>

    <main role="main" class="inner cover">
        <h3 class="cover-heading">Оставьте заявку. С Вами свяжутся.</h3>
        <br>
        {% component 'RequestsForm' %}
        <!-- <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the
            text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p> -->
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p></p>
        </div>
    </footer>
</div>