title = "Print"
url = "/print-page/:id"
is_hidden = 0
==
<?php
use Egorov\NewsAnalysis\Models\Records;

function onStart()
{
    $id = $this->param('id');
    $record = Records::findOrFail($id);
    $this['record']=$record;
}
?>
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{ 'assets/css/print.css'|theme }}" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <style>@page { size: A4 }</style>
</head>
<body class="A4">
    <section class="sheet">

        <article style="margin: 50px;">
            {{ record.comments|raw }}
        </article>

    </section>
    
    <script>
        window.print()
    </script>
</body>
</html>